.color1 {
    color: orangered
}
.color2 {
    color: purple
}
.color3 {
    color: royalblue
}
.color4 {
    color: green
}
#imSpecial {
    color: grey
}
#imSpecialToo {
    color: aqua
}
li {
    color: darkred
}