* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
div {
    width:200px;
    height:200px;
    border-radius: 50%;
    box-shadow:15px 15px blue;
    background-color:palevioletred;
    transition-property:all;
    transition-duration:1s;
    transition-timing-function:ease-in;
}
div:hover {
    width:150px;
    height:150px;
    box-shadow:10px 10px palevioletred;
    background-color:blue;
}