body {
    display:flex;
    flex-flow:row wrap;
    height:700px;
    border:2px dashed hotpink;
    justify-content:flex-start;
    align-items:flex-start;
}
div {
    width:100px;
    height:100px;
    background-color:aquamarine;
    border:2px solid red;
}