ul {
    list-style-type:none;
}
li {
    display:inline-block;
    border-radius: 50px;
    background-color:black;
    border: 2px solid red;
}
li:hover{
    background-color:orange;
}
a {
    text-decoration:none;
    color:yellow;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 50px;
    display:inline-block;
}