body {
    flex-flow:row wrap;
    max-width:90%;
    margin:0 auto;
}
header {
    width:100%;
}
.a1 {
    width:15%;
    order:1;
}
div {
    width:70%;
    order:2;
}
.a2 {
    width:15%;
    order:3;
}
footer {
    width:100%;
    order:4;
}