h1 {
    font-family:serif;
    text-shadow:2px 2px 5px red;
    font-size:4rem;
}
#weight1 {
    font-family:poppins;
    font-weight:200;
}
#weight2 {
    font-family:poppins;
    font-weight:400;
}
#weight3 {
    font-family:poppins;
    font-weight:900;
}
#styles {
    font-style:italic;
    text-transform:uppercase;
    text-decoration:line-through;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
#final {
    font-family:sans-serif;
    font-size:2rem;
    text-indent:4rem;
    word-spacing:.5rem;
}